{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-12 text-center"><h1 class="pb-4">About Me</h1></div>
<div class="col-12 text-light text-center">
    <div class="part-1-box">
        <p class="mb-0">A Developer with strong attention to detail, passion and drive.</p>
    </div>
</div>
<main class="col-12">
    <section>
        <h3 class="section-header mt-4">Professional</h3>
        <p>
            <strong>As many young people do</strong>, as I set out in my pursuit of further education, at this point in life I didn't have any idea what I wanted to do, so 
            I picked something I was partially familiar with, this being mechanical engineering. After gaining my qualification from Peterborough regional college, I decided 
            that I wasn't overly keen on working in the engineering discipline, so accepted a job in an office, where I spent the next 8 years working in various 
            teams and gaining experience in all areas of the business. After being made redundant when the company went under, I felt it was time to do some exploring to find a 
            clearer direction in my career.
        </p> 
        <p>
            The thing I wanted to do first was improve my communication skills, so I took a job working for an accident management company, dealing with vehicle repairers and in many cases,
            with third party people to handle their accident claims. I then moved on to a rolling month contract at an motorsport/engineering company to see if this was something I could 
            persue while I was preparing to move up to Chester, but it turned out to be as I had imagined.. not the right fit for me.
        </p>
        <p>
            Once I had moved to Chester, I had to find a job as quickly as possible so I would be able to continue paying the rent, and it was this job at Adesa Remarketting that led 
            me to programming. After joining the company during a busy period, management didn't have the time to train me fully in the initial weeks, so my manager asked if I was familiar 
            with Excel macros, which I wasn't, but he asked my to have a go at automating one of the reports anyway. Within a day or so, to everyone's surprise (including my own), I had done
            some research and managed to automate the report. Skipping ahead some months, I had put my personal time into learning more of the code behind the macros, which soon led to me 
            being the 'go-to' Excel guy, with a nickname of the "magic button man" (creating macros to create reports with the click of a button). <strong>I had found my passion!</strong>
        </p>
        <p>
            Skip forward a few more years and a few more expieriences, after moving back to Peterborough to be closer to my family and gaining employment at News UK, I decided to take a leap 
            into programming and signed up for a course in <strong>Full Stack Web Development.</strong> As I worked through the course, I knew this was what I wanted to be doing, as it didn't really feel like 
            work, more like a hobby that comes with useful skills. I was once again made redundant from News UK due to the effects of the Global Pandemic, which leads me to today. I am currently 
            working as a private hospital transport driver (a bit of a change of direction, but one has to pay the mortgage), coding in my spare time and eager to find a job where I can code 
            every day and continue to grow in the world of development.. This is my passion!
        </p>
    </section>
    <section>
        <h3 class="section-header mt-4">Personal</h3>
        <p>
            <strong>In my numerous spare moments</strong> over the years, I have found quite a few different hobbies. I learned to play the drums and guitar in my early teens and spent some time 
            playing shows across the UK as a drummer. I now play acoustic guitar and have an electric drum kit that I practice on, although playing shows is no longer on the cards.
        </p>
        <p>
            I'm also a bit of a petrol head and very into my cars. Because of my studies in mechanical engineering and my interest in cars, I have apprently become the guy who 
            services all the cars of my family members, which I don't mind as long as it's not cold outside. Japanese cars would be at the top of my list of favourites.
        </p>
        <p>
            Previously a frequent user of the gym, however in recent years I have found myself getting my excersize by walking the dog (and the cat sometimes), playing basketball in summer,
            general DIY around the house and garden (laying a patio is hard work) and just normal walking around if I ever have the chance to go somewhere new.
        </p>
        <p>
            Lastly, I obviously have a keen interest in technology, so I spend a good amount of time looking at coding examples and videos, I'm always looking for the next smart gadget and 
            I do like to play a bit of xbox every now and then to unwind.
        </p>
    </section>
</main>
{% endblock %}