{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-12 text-center mb-4"><h1>Experience</h1></div>
<div class="col-12">
    <h3 class="mb-2">Projects</h3>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Milestone Project 1: 
            </strong>
            Hands like Houses Static Band Website
        </h3>
        <div>
            <strong>
                Description: 
            </strong>
            This is a basic static website to promote a band, deployed using Github pages.
        </div>
        <div>
            <strong>
                Frameworks & Languages used: 
            </strong>
            HTML5, CSS3, Bootstrap
        </div>
        <div>
            <strong>
                Github Link: 
            </strong>
            <a href="https://github.com/Matte-gtr/hands_like_houses" target="_blank">Hands like Houses</a>
        </div>
        <div>
            <strong>
                Deployed Link: 
            </strong>
            <a href="https://matte-gtr.github.io/hands_like_houses/" target="_blank">Hands like Houses</a>
        </div>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Milestone Project 2: 
            </strong>
            Simon 2.0 game (Javascript)
        </h3>
        <div>
            <strong>
                Description: 
            </strong>
            This is a javascript game based on the original Simon game, deployed using Github pages.
        </div>
        <div>
            <strong>
                Frameworks & Languages used: 
            </strong>
            HTML5, CSS3, Bootstrap, Javascript
        </div>
        <div>
            <strong>
                Github Link: 
            </strong>
            <a href="https://github.com/Matte-gtr/simon-2.0" target="_blank">Simon 2.0</a>
        </div>
        <div>
            <strong>
                Deployed Link: 
            </strong>
            <a href="https://matte-gtr.github.io/simon-2.0/ " target="_blank">Simon 2.0</a>
        </div>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Milestone Project 3: 
            </strong>
            All the recipes, recipe website (Flask/Python)
        </h3>
        <div>
            <strong>
                Description: 
            </strong>
            This is a recipes website made using the Flask Framework and MongoDB. Users can add and remove their own recipes. Deployed using Heroku.
        </div>
        <div>
            <strong>
                Frameworks & Languages used: 
            </strong>
            HTML5, CSS3, Bootstrap, Javascript, Python, Flask, MongoDB
        </div>
        <div>
            <strong>
                Github Link: 
            </strong>
            <a href="https://github.com/Matte-gtr/all_the_recipes" target="_blank">All the Recipes</a>
        </div>
        <div>
            <strong>
                Deployed Link: 
            </strong>
            <a href="https://all-the-recipes.herokuapp.com/" target="_blank">All the Recipes</a>
        </div>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Milestone Project 4: 
            </strong>
            On the Rocks E-commerce site (Django/Python)
        </h3>
        <div>
            <strong>
                Description: 
            </strong>
            This is an E-commerce site that sells various kinds of whiskeys. Users can create an account to view extra features and Admin have further features. Deployed using Heroku and AWS.
        </div>
        <div>
            <strong>
                Frameworks & Languages used: 
            </strong>
            HTML5, CSS3, Bootstrap, Javascript, Python, Django
        </div>
        <div>
            <strong>
                Github Link: 
            </strong>
            <a href="https://github.com/Matte-gtr/on_the_rocks" target="_blank">On the Rocks</a>
        </div>
        <div>
            <strong>
                Deployed Link: 
            </strong>
            <a href="https://msnell89-on-the-rocks.herokuapp.com/" target="_blank">On the Rocks</a>
        </div>
    </section>
</div>

<div class="col-12">
    <h3 class="mb-2 mt-4">Work Experience</h3>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Private Hospital Transport Driver
            </strong>
            September 2020 - Present
        </h3>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Supply and Sales Data Executive – News UK
            </strong>
            January 2019 – September 2020 (Redundancy)
        </h3>
        <div>
            Working alongside the finance department, the team is responsible for checking supply figures, loading supplies into SAP, data integrity and various 
            reporting requests around the business and customer base.
        </div>
        <ul>
            <li>Liaising with teams around the business to produce various reports</li>
            <li>processing promotional credits and charges</li>
            <li>handling and processing all newspaper voucher refunds</li>
            <li>Improving and documenting work processes</li>
            <li>Investigating discrepancies within reports</li>
            <li>Adhoc reporting using Bex Analyzer, SAP, TM1 and Excel among others</li>
        </ul>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Technical Resourcer – The One Group
            </strong>
            March 2018 – December 2018
        </h3>
        <div>
            Working as part of the technical/engineering team, my main focus is on sourcing candidates for roles with a powertrain and automotive engineering focus, 
            while aiming to gain further business in the future.
        </div>
        <ul>
            <li>Understanding complex job roles and relating them to candidates</li>
            <li>Quickly building relationships</li>
            <li>Self-managing time and workload</li>
            <li>Keeping all records of actions up to date and ready to report in weekly meetings</li>
            <li>Working efficiently to hit targets</li>
            <li>Aiming to gain an ever-evolving understanding of the market</li>
            <li>Networking</li>
        </ul>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Operations Co-coordinator – Adesa Remarketing Ltd
            </strong>
            January 2017 – March 2018
        </h3>
        <div>
            As part of a small team, it is my joined responsibility to look after the customer services, operations and transport side of the company, 
            and to help the Sales team with any technical issues/enquiries that they may have.
        </div>
        <ul>
            <li>Dealing with customer enquiries</li>
            <li>Creating timely reports</li>
            <li>Creating excel macros to speed up reporting tasks</li>
            <li>Working with the IT team to help develop bespoke systems</li>
            <li>Setting up and quoting for vehicle transport</li>
            <li>Setting up online auctions for vehicles</li>
            <li>Processing vehicle sales and invoices</li>
            <li>Working within a team to complete tasks in a timely manner</li>
        </ul>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Assembly Technician - Titan Motorsport & Automotive Engineering Ltd
            </strong>
            August 2016 – January 2017 (temp contract)
        </h3>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                VOR Administrator – Sopp & Sopp Limited
            </strong>
            November 2015 – July 2016
        </h3>
        <div>
            Working as part of a team, it is my responsibility to keep the company’s bespoke system up to date with information 
            that repairers send in via a web update system, e-mail and telephone. 
        </div>
        <ul>
            <li>Working under pressure and to deadlines</li>
            <li>Working under own initiative</li>
            <li>Time management</li>
            <li>Regular contact with repairers</li>
            <li>Team work</li>
            <li>Liaising with all areas of the business</li>
            <li>Keeping up with a high volume of e-mails</li>
            <li>Dealing with customer queries and building relationships</li>
        </ul>
    </section>
</div>

<div class="col-12">
    <section class="card-section">
        <h3 class="section-header">
            <strong>
                Bureau Operative Promoted to Special Projects Assistant – Restore Scan
            </strong>
            September 2007 – August 2015 (Redundancy)
        </h3>
        <div>
            Working alongside senior project managers I have been jointly responsible for the day-to-day running of major projects for large 
            corporations in both private and public sectors. The role dictated that I work with not only clients but third party contractors 
            to ensure work is delivered to exceed expectations.
        </div>
        <ul>
            <li>Working with sensitive data</li>
            <li>Regular client visits and written/verbal contact</li>
            <li>Professional manner</li>
            <li>Polite and courteous</li>
            <li>Effective time management</li>
            <li>Able to work autonomously</li>
            <li>Problem solving</li>
            <li>Working to client specifications</li>
            <li>Responsible for meeting client deadlines</li>
        </ul>
    </section>
</div>

{% endblock %}