{% extends 'base.html' %}
{% load static %}

{% block extra_title %}{% endblock %}

{% block content %}
    <div class="order-2 order-xl-1 col-12 col-md-6 col-xl-4 intro pr-4">
        <h2 class="mt-5 mb-1">Matthew Snell</h2>
        <p class="bold-gold">Full Stack Developer</p>
        <hr class="quarter-width">
        <p class="intro-paragraph">
            I'm a Full Stack Developer, recently qualified with a Diploma in Software Development from Code Institute, looking to secure a role as a Junior Developer where I can 
            further develop my skills in this field. Proficient with HTML, CSS, Javascript, Python and VBA with a background in data processing and process automation using VBA for 
            Excel, as well as a wealth of experience dealing with people on a personal and professional level in a variation of roles, I will bring a positive, can-do attitude to 
            your business, as well as a passion for developing that keeps me striving for improvement.
        </p>
    </div>

    <div class="order-1 order-xl-2 col-12 col-md-6 col-xl-4">
        <div class="portrait-container">
            <img src="{{ MEDIA_URL }}portrait.jpg" alt="portrait" class="portrait">
            <div class="overlay">
                <div class="top-left-corner"></div>
                <div class="bottom-right-corner"></div>
            </div>
        </div>
    </div>

    <div class="order-3 col-12 col-md-6 col-xl-4 pl-4 pr-4 m-auto">
        <div class="skills-section">
            <div class="skill">
                <h6>HTML</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h6>CSS</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h6>JavaScript</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h6>Python</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="skill">
                <h6>VBA</h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="social-media text-center">
                <a href="https://www.facebook.com/matt.snell.7" class="plain-link" target="_blank"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.linkedin.com/in/matthew-snell-0a0938160/edit/birthday/" class="plain-link" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://www.instagram.com/snail89/" class="plain-link" target="_blank"><i class="fab fa-instagram-square"></i></a>
            </div>
        </div>
    </div>
    <div class="order-4 col-12 text-center mt-2">
        <p class="mb-0">Download a copy of my CV <a href="{{ MEDIA_URL }}Matthew Snell CV.docx"><strong>Here</strong></a></p>
    </div>
{% endblock %}