{% extends 'base.html' %}

{% block content %}
    <div class="col-12 text-center mb-2"><h2>From: {{ message.full_name }}</h2>
        <h4 class="section-header underline">{{ message.email }}</h4>
        <h6>{{ message.date_recieved }}</h6>
    </div>
    <div class="col-12">
        <section class="card-section">
            <h4>Message: </h4>
            <p>{{ message.message }}</p>
        </section>
    </div>
    <div class="col-12 mt-2">
        <a href="{% url 'profile' %}"><div class="btn btn-primary mb-1">Back to Messages</div></a>
        <a href="{% url 'delete_message' message.id %}" class=""><div class="btn btn-danger mb-1"><i class="far fa-trash-alt"></i></div></a>
        <a href="{% url 'mark_unread' message.id %}" class=""><div class="btn btn-info mb-1">Mark Unread</div></a>
    </div>
{% endblock %}