
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block core_meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block core_css %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block core_js %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block extra_title %}{% endblock %}{{ title|title }} | Matt Snell</title>
</head>
<body>
    {% block page_header %}
    {% endblock %}

    <div class="container-fluid bg-gradient">
        <div class="container content-container pb-1">
            <div class="row">
                <div class="col p-0">

                    <!--Desktop Navbar-->
                    <ul class="navigation text-center d-none d-md-table">
                        <li class="uppercase inline {% if title == 'home' %}active{% endif %}"><a class="plain-link" href="{% url 'home' %}"><i class="fas fa-caret-down"></i> Home</a></li>
                        <li class="uppercase inline {% if title == 'about' %}active{% endif %}"><a class="plain-link" href="{% url 'about' %}"><i class="fas fa-caret-down"></i> About</a></li>
                        <li class="uppercase inline {% if title == 'education' %}active{% endif %}"><a class="plain-link" href="{% url 'education' %}"><i class="fas fa-caret-down"></i> Education</a></li>
                        <li class="uppercase inline {% if title == 'experience' %}active{% endif %}"><a class="plain-link" href="{% url 'experience' %}"><i class="fas fa-caret-down"></i> Experience</a></li>
                        <li class="uppercase inline {% if title == 'contact' %}active{% endif %}"><a class="plain-link" href="{% url 'contact' %}"><i class="fas fa-caret-down"></i> Contact</a></li>
                    </ul>

                    <!--mobile Navbar-->
                    <div class="nav-banner fixed-top">
                        <div class="menu-button d-md-none">
                            <div class="burger">
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu d-table d-md-none hidden">
                        <ul class="mobile-dropdown text-center">
                            <li class="mobile-li uppercase {% if title == 'home' %}active{% endif %}"><a class="plain-link" href="{% url 'home' %}">Home</a></li>
                            <li class="mobile-li uppercase {% if title == 'about' %}active{% endif %}"><a class="plain-link" href="{% url 'about' %}">About</a></li>
                            <li class="mobile-li uppercase {% if title == 'education' %}active{% endif %}"><a class="plain-link" href="{% url 'education' %}">Education</a></li>
                            <li class="mobile-li uppercase {% if title == 'experience' %}active{% endif %}"><a class="plain-link" href="{% url 'experience' %}">Experience</a></li>
                            <li class="mobile-li uppercase {% if title == 'contact' %}active{% endif %}"><a class="plain-link" href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="row mt-4 mb-5">
                
                {% block content %}
                {% endblock %}

            </div>
            <div class="row banner text-center">
                <div class="col-12 col-md-6 col-lg-4 m-auto py-1">
                    <div class="row">
                        <div class="col-3"><i class="lg-border fas fa-phone"></i></div>
                        <div class="col-9 text-left">
                            <div class="row">
                                <div class="col">
                                    <h6>Phone</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 word-wrap">+44 7814 664 215</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 m-auto py-1">
                    <div class="row">
                        <div class="col-3"><i class="lg-border far fa-envelope"></i></div>
                        <div class="col-9 text-left">
                            <div class="row">
                                <div class="col">
                                    <h6>Email</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 word-wrap">matt.snell.00@hotmail.co.uk</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 m-auto py-1">
                    <div class="row">
                        <div class="col-3"><i class="lg-border fas fa-location-arrow"></i></div>
                        <div class="col-9 text-left">
                            <div class="row">
                                <div class="col">
                                    <h6>Location</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0 word-wrap">Peterborough, UK</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% block postload_js %}
        <script>
            $(document).ready(function() {
                const menuButton = $('.menu-button');
                const mobileMenu = $('.mobile-menu');
                let menuActive = false;
                
                $('.menu-button').click(function() {
                    if(menuActive) {
                        menuButton.removeClass('expanded');
                        mobileMenu.addClass('hidden');
                        menuActive = false;
                    } else {
                        menuButton.addClass('expanded');
                        mobileMenu.removeClass('hidden');
                        menuActive = true;
                    }
                });
            });
        </script>
    {% endblock %}
</body>
</html>